<h2>Department Details</h2>
<div class="jumbotron">
    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr ng-repeat="department in alldepartments">
                    
                    <th>{{department.DeptName}}</th>
                    <th>{{department.DeptLocation}}</th>
                    <th><button ng-click="editthisDepartment(department.DeptName)" type="button" class="btn btn-danger">Edit</button></th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>

    </div>
</div>