<h2>Edit department details</h2>
<div class="jumbotron">
    <form role="form">
        <div class="form-group">
            <label for="departmentID">DepartmentID:</label>
        </div>
        <div class="form-group">
            
            <label for="name">Department name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter department name">
        </div>
        <div class="form-group">
            <label for="location">Department location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter department location">

        </div>
        <button type="button" class="btn btn-danger">Save</button>
        <div class="form-group">

        </div>
    </form>
    </div>
